body {
	background-color: #;
}

.barra {
	background-color: #4b4b4b;
}

#fonte-nav {
	color: white;
}

#home {
	background-color: #ebf7f1;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
	padding-top:  1px solid #e5e5e5;
}

#espacamento-img {
	margin-left: 50px;
}

#espacamento-texto {
	margin-left: 750px;
	margin-top: -350px;
}

.botao-imagem {
	margin-top: 500px;
}